In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

In [6]:
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.proportion import proportions_chisquare

Import Data:

In [7]:
PrisonsUS1 = pd.read_csv('C:/Users/linzw/DsClass/DSO110/Lesson 3/prison1.csv')
PrisonsUS1.head()

,Bureau of Justice Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Filename: p21stat01.csv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Appendix Table 1. Prisoners under the jurisdic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Report title: Prisoners in 2021 – Statistical ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Data source: Bureau of Justice Statistics, Fed...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Author: E. Ann Carson, PhD, BJS Statistician",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop NaN (Columns and Rows):

In [8]:
PrisonsUS1.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 11, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74], inplace=True)

In [9]:
PrisonsUS1.drop('Bureau of Justice Statistics', axis=1, inplace=True)

In [10]:
PrisonsUS1.head(15)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
9,NaN,Total,White/a,Black/a,Hispanic,American Indian/Alaska Native/a,Asian/a,Native Hawaiian/Other Pacific Islander/a,Two or more races/a,Other/a,Unknown,Did not report
10,NaN,"157,314","47,460","57,225","46,813","3,644","2,170",~,~,~,~,2
12,Alabama,"25,032","11,470","13,353",0,3,4,0,0,202,~,0
13,Alaska,"4,639","1,895",465,125,"1,855",158,95,0,0,46,0
14,Arizona,"33,914","12,960","5,087","13,131","1,880",157,~,~,612,28,59
15,Arkansas,"17,022","9,547","6,771",563,49,48,19,0,23,2,0
16,California,"101,441","20,137","28,710","45,999","1,161","1,162",321,~,"3,951",0,0
17,Colorado,"15,865","6,520","2,769","4,722",542,184,10,~,"1,025",11,82
18,Connecticut,"9,889","2,778","4,208","2,824",34,43,0,0,0,2,0
19,Delaware,"4,810","1,551","2,952",299,1,6,0,0,0,1,0
20,Florida,"80,417","31,599","38,266","10,174",88,18,7,/,262,3,0
21,Georgia,"47,010","17,159","27,715","1,945",22,157,0,0,~,12,0
22,Hawaii,"4,102",915,185,98,21,699,"1,800",145,0,239,0
23,Idaho/d,"8,907","6,419",258,"1,288",329,43,/,/,107,268,195
24,Illinois,"28,475","8,849","15,204","3,671",42,104,/,55,/,45,505

In [11]:
PrisonsUS1.drop([9], inplace=True)

In [12]:
PrisonsUS1.head(15)

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
10,NaN,"157,314","47,460","57,225","46,813","3,644","2,170",~,~,~,~,2
12,Alabama,"25,032","11,470","13,353",0,3,4,0,0,202,~,0
13,Alaska,"4,639","1,895",465,125,"1,855",158,95,0,0,46,0
14,Arizona,"33,914","12,960","5,087","13,131","1,880",157,~,~,612,28,59
15,Arkansas,"17,022","9,547","6,771",563,49,48,19,0,23,2,0
16,California,"101,441","20,137","28,710","45,999","1,161","1,162",321,~,"3,951",0,0
17,Colorado,"15,865","6,520","2,769","4,722",542,184,10,~,"1,025",11,82
18,Connecticut,"9,889","2,778","4,208","2,824",34,43,0,0,0,2,0
19,Delaware,"4,810","1,551","2,952",299,1,6,0,0,0,1,0
20,Florida,"80,417","31,599","38,266","10,174",88,18,7,/,262,3,0
21,Georgia,"47,010","17,159","27,715","1,945",22,157,0,0,~,12,0
22,Hawaii,"4,102",915,185,98,21,699,"1,800",145,0,239,0
23,Idaho/d,"8,907","6,419",258,"1,288",329,43,/,/,107,268,195
24,Illinois,"28,475","8,849","15,204","3,671",42,104,/,55,/,45,505
25,Indiana,"24,716","14,292","7,547",992,50,55,9,153,/,38,"1,580"

Rename Columns:

In [13]:
PrisonsUS1.rename(columns={"Unnamed: 1":"State","Unnamed: 2":"Total Count","Unnamed: 3":"White", "Unnamed: 4":"Black", "Unnamed: 5": "Hispanic1", "Unnamed: 6":"American Indian/Alaskan Native", "Unnamed: 7":"Asian", "Unnamed: 8": "Hawaiian/Islander", "Unnamed: 9": "Two/more Races", "Unnamed: 10":"Other1", "Unnamed: 11": "Unknown1", "Unnamed: 12": "Did Not Report"})

,State,Total Count,White,Black,Hispanic1,American Indian/Alaskan Native,Asian,Hawaiian/Islander,Two/more Races,Other1,Unknown1,Did Not Report
10,NaN,"157,314","47,460","57,225","46,813","3,644","2,170",~,~,~,~,2
12,Alabama,"25,032","11,470","13,353",0,3,4,0,0,202,~,0
13,Alaska,"4,639","1,895",465,125,"1,855",158,95,0,0,46,0
14,Arizona,"33,914","12,960","5,087","13,131","1,880",157,~,~,612,28,59
15,Arkansas,"17,022","9,547","6,771",563,49,48,19,0,23,2,0
16,California,"101,441","20,137","28,710","45,999","1,161","1,162",321,~,"3,951",0,0
17,Colorado,"15,865","6,520","2,769","4,722",542,184,10,~,"1,025",11,82
18,Connecticut,"9,889","2,778","4,208","2,824",34,43,0,0,0,2,0
19,Delaware,"4,810","1,551","2,952",299,1,6,0,0,0,1,0
20,Florida,"80,417","31,599","38,266","10,174",88,18,7,/,262,3,0
21,Georgia,"47,010","17,159","27,715","1,945",22,157,0,0,~,12,0
22,Hawaii,"4,102",915,185,98,21,699,"1,800",145,0,239,0
23,Idaho/d,"8,907","6,419",258,"1,288",329,43,/,/,107,268,195
24,Illinois,"28,475","8,849","15,204","3,671",42,104,/,55,/,45,505
25,Indiana,"24,716","14,292","7,547",992,50,55,9,153,/,38,"1,580"
26,Iowa/e,"8,562","5,492","2,173",605,195,~,~,~,96,1,0
27,Kansas,"8,521","4,781","2,335","1,118",201,75,0,0,5,6,0
28,Kentucky/e,"18,560","14,102","3,879",296,18,~,~,220,30,15,0
29,Louisiana,"26,074","8,863","17,097",66,21,25,0,0,2,~,0
30,Maine,"1,577","1,261",175,~,43,7,1,29,~,61,0
31,Maryland/f,"15,134","3,414","10,730",713,76,49,16,/,114,22,0
32,Massachusetts/g,"6,148","2,561","1,792","1,567",36,102,0,~,~,90,0
33,Michigan,"32,186","13,746","16,278",632,287,94,7,"1,104",0,38,0
34,Minnesota,"8,003","3,732","2,834",471,756,197,/,/,/,13,0
35,Mississippi,"17,332","6,419","10,649",181,35,39,0,0,0,9,0
36,Missouri,"23,422","14,606","7,843",494,97,61,0,/,/,36,285
37,Montana/e,"4,313","3,000",116,133,"1,049",~,~,~,15,0,0
38,Nebraska,"5,600","2,829","1,551",824,287,44,4,/,58,3,0
39,Nevada,"10,202","3,730","3,100","2,764",233,206,113,0,0,56,0
40,New Hampshire,"2,127","1,752",152,125,11,6,1,~,45,35,0
41,New Jersey,"12,506","2,771","7,662","1,941",13,97,0,/,0,22,0
42,New Mexico/h,"5,154","1,385",380,"3,194",455,12,22,0,0,49,0
43,New York,"30,338","7,056","14,930","7,290",289,190,/,/,435,148,0
44,North Carolina,"28,995","11,776","14,620","1,725",576,94,~,~,~,204,0
45,North Dakota,"1,689",982,181,99,418,6,3,0,0,~,0
46,Ohio,"45,029","22,368","19,305","1,156",83,72,/,/,446,/,"1,599"
47,Oklahoma,"22,391","11,109","6,087","1,871","2,099",88,31,~,50,18,"1,038"
48,Oregon,"13,198","9,566","1,236","1,757",411,183,36,/,0,9,0
49,Pennsylvania/f,"37,194","16,427","17,125","3,333",37,114,~,0,0,158,0
50,"Rhode Island/d,f","2,238",887,643,614,21,30,/,/,39,4,0
51,South Carolina/i,"15,759","5,894","9,285",427,25,22,0,/,104,2,0
52,South Dakota/i,"3,353","1,730",262,134,"1,189",26,2,~,10,0,0
53,Tennessee,"21,995","12,047","9,295",560,36,57,/,/,/,/,0
54,Texas,"133,772","45,229","43,485","44,284",63,522,0,0,189,0,0
55,Utah,"5,907","3,487",450,"1,219",333,58,136,0,0,224,0
56,Vermont,"1,287","1,104",124,0,25,8,2,0,9,15,0
57,Virginia/c,"30,357","12,863","16,326",988,32,124,0,0,0,24,0
58,Washington,"13,674","7,555","2,419","2,286",682,590,/,/,56,86,0
59,West Virginia,"5,847","4,956",797,43,5,4,1,41,0,0,0
60,Wisconsin,"20,202","8,947","8,200","1,918",886,244,0,0,/,7,0
61,Wyoming,"2,123","1,593",101,248,159,9,5,0,3,5,0

Showing States with total prisoners per state:

In [20]:
ColumnNames=['States','Total per State']
DataValues=[ ['Alabama', 25032],
             ['Alaska', 4636],
             ['Arizona', 33914],
             ['Arkansas', 17022],
             ['California', 101441],
             ['Colorado', 15865],
             ['Connecticut', 9889],
             ['Delaware', 4810],
             ['Florida', 80417],
             ['Georgia', 47010],
             ['Hawaii', 4102],
             ['Idaho', 8907],
             ['Illinois', 28475],
             ['Indiana', 24716],
             ['Iowa', 8562],
             ['Kansas', 8521],
             ['Kentucky', 18560],
             ['Louisiana', 26074],
             ['Maine', 1577],
             ['Maryland', 15134],
             ['Massachusetts', 6148],
             ['Michigan', 32186],
             ['Minnesota', 8003],
             ['Mississippi', 17332],
             ['Missouri', 23422],
             ['Montana', 4313],
             ['Nebraska', 5600],
             ['Nevada', 10202],
             ['New Hampshire', 2127],
             ['New Jersey', 12506],
             ['New Mexico', 5154],
             ['New York', 30338],
             ['North Carolina', 38995],
             ['North Dakota', 1689],
             ['Ohio', 45029],
             ['Oklahoma', 22391],
             ['Oregon', 13198],
             ['Pennsylvania', 37194],
             ['Rhode Island', 2238],
             ['South Carolina', 15758],
             ['South Dakota', 3353],
             ['Tennesse', 21995],
             ['Texas', 133772],
             ['Utah', 5907],
             ['Vermont', 1287],
             ['Virginia', 30357],
             ['Washington', 12674],
             ['Wisconsin', 20202],
             ['Wyoming', 2123]]

In [21]:
StatePrisonsUs=pd.DataFrame(data=DataValues,columns=ColumnNames)
print(StatePrisonsUs.head(48))

            States  Total per State
0          Alabama            25032
1           Alaska             4636
2          Arizona            33914
3         Arkansas            17022
4       California           101441
5         Colorado            15865
6      Connecticut             9889
7         Delaware             4810
8          Florida            80417
9          Georgia            47010
10          Hawaii             4102
11           Idaho             8907
12        Illinois            28475
13         Indiana            24716
14            Iowa             8562
15          Kansas             8521
16        Kentucky            18560
17       Louisiana            26074
18           Maine             1577
19        Maryland            15134
20   Massachusetts             6148
21        Michigan            32186
22       Minnesota             8003
23     Mississippi            17332
24        Missouri            23422
25         Montana             4313
26        Nebraska             5600
27          Nevada            10202
28   New Hampshire             2127
29      New Jersey            12506
30      New Mexico             5154
31        New York            30338
32  North Carolina            38995
33    North Dakota             1689
34            Ohio            45029
35        Oklahoma            22391
36          Oregon            13198
37    Pennsylvania            37194
38    Rhode Island             2238
39  South Carolina            15758
40    South Dakota             3353
41        Tennesse            21995
42           Texas           133772
43            Utah             5907
44         Vermont             1287
45        Virginia            30357
46      Washington            12674
47       Wisconsin            20202

Top Populated:

In [22]:
StatePrisonsUs.loc[StatePrisonsUs['Total per State'].idxmax()]

States              Texas
Total per State    133772
Name: 42, dtype: object

Lowest Populated:

In [23]:
StatePrisonsUs.loc[StatePrisonsUs['Total per State'].idxmin()]

States             Vermont
Total per State       1287
Name: 44, dtype: object

Conculsion: Texas has the highest population in Prison with in the state. While Vermont has the lowest population in prison in the state.